.container{
    display: flex;
}
.col{
    flex: 25%;
    padding: 5px;
}

.thumbnail {
    width: 100%;
    height: auto;
    margin: 5px;
    vertical-align: middle;
    opacity: .8;
    filter: grayscale(100%);
  }

.thumbnail:hover{
    opacity: 1;
    filter: grayscale(0%);
}


.expandedSlide{
    display: none;
}