body{
    background-color: black;
}

.container{
    display: flex;
    position: relative;
}
.col{
    flex: 25%;
    padding: 5px;
}

.thumbnail {
    width: 100%;
    height: auto;
    margin: 5px;
    vertical-align: middle;
    opacity: .8;
    filter: grayscale(100%);
  }

.thumbnail:hover{
    opacity: 1;
    filter: grayscale(0%);
}

.pic{
    width: 100%;
}

.expandedSlide{
    display: none;
}


#previous,
#next {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

/* Position the "next button" to the right */
#next {
  right: 0;
}

#close{
  position: absolute;
  color: white;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  top: 0;
  right: 0;
}
